---
---
@import "{{ site.theme }}";

  .btn2 {
    border-radius: 4px;
    background-color:#3a6186;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    width: auto;
    cursor: pointer;
    margin: 5px;
   }

#words { 
  color:black;
  text-align: justify;
  text-justify: inter-word;
  text-size: 1em;
 }
 
#table {
 font-weight: bold;
 text-align: center;
 font: 1.875em;
 }
 


 .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

 
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  

.dt {
  font-size: 30px;
  text-align: center
}
